@page "/chat"

@using AskMyDocs.Web.Services
@using AskMyDocs.Web.Models
@using Markdig
@using Microsoft.AspNetCore.Components.Forms
@using Blazored.LocalStorage

@inject ApiService ApiService
@inject UploadService UploadService
@inject ILocalStorageService LocalStorage

<div class="app-layout">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <button class="btn btn-primary w-100 mb-3"
                @onclick="CreateNewChat">

            + New Chat

        </button>

        @foreach (var conversation in Conversations)
        {
            <div class="conversation-item
                @(conversation == CurrentConversation
                     ? "active"
                     : "")"

                 @onclick="() => SelectConversation(conversation)">

                @conversation.Title

            </div>

            <button class="btn btn-sm btn-danger"
                    @onclick="() => DeleteConversation(conversation)">

                X

            </button>
        }

    </div>

    <!-- CHAT AREA -->
    <div class="chat-area">

        <h3 class="mb-3">
            AI Chat
        </h3>
        
        <!-- CHAT -->
        <div class="chat-container">

            @if (CurrentConversation != null)
            {
                @foreach (var message
                    in CurrentConversation.Messages)
                {
                    <div class="message-wrapper @(message.Role)">

                        <div class="message-bubble @(message.Role)">

                            @((MarkupString)
                                Markdown.ToHtml(
                                    message.Content))

                        </div>

                    </div>
                }
            }

        </div>

        <!-- INPUT -->
        <div class="input-container">

            <input class="form-control"
                   @bind="Question"
                   @bind:event="oninput"
                   placeholder="Ask something about your documents..." />

            <div class="mt-2">

                <button class="btn btn-primary"
                        @onclick="SendQuestion"
                        disabled="@IsLoading">

                    @(IsLoading
                        ? "Thinking..."
                        : "Send")

                </button>

            </div>

        </div>

    </div>

</div>

            @code {

    private string Question = "";

    private bool IsLoading = false;

    private List<Conversation> Conversations = new();

    private Conversation? CurrentConversation;

    protected override async Task
        OnInitializedAsync()
    {
        Conversations =
            await LocalStorage
                .GetItemAsync
                <List<Conversation>>(
                    "conversations")
            ?? new();

        if (Conversations.Any())
        {
            CurrentConversation =
                Conversations.First();
        }
        else
        {
            await CreateNewChat();
        }
    }

    private async Task CreateNewChat()
    {
        var conversation =
            new Conversation
            {
                Title =
                    $"Chat {Conversations.Count + 1}"
            };

        Conversations.Add(conversation);

        CurrentConversation =
            conversation;

        await SaveConversations();
    }

    private void SelectConversation(
        Conversation conversation)
    {
        CurrentConversation =
            conversation;
    }

    private async Task SaveConversations()
    {
        await LocalStorage
            .SetItemAsync(
                "conversations",
                Conversations);
    }

    private async Task DeleteConversation(
    Conversation conversation)
    {
        Conversations.Remove(conversation);

        if (CurrentConversation == conversation)
        {
            CurrentConversation =
                Conversations.FirstOrDefault();
        }

        if (!Conversations.Any())
        {
            await CreateNewChat();
        }

        await SaveConversations();
    }

    private string GenerateConversationTitle(
    string question)
    {
        if (string.IsNullOrWhiteSpace(
            question))
        {
            return "New Chat";
        }

        question = question.Trim();

        if (question.Length > 35)
        {
            question =
                question.Substring(0, 35)
                + "...";
        }

        return question;
    }

    private async Task SendQuestion()
    {
        if (string.IsNullOrWhiteSpace(
            Question))
            return;

        if (CurrentConversation == null)
            return;

        IsLoading = true;

        CurrentConversation.Messages.Add(
            new ChatMessage
            {
                Role = "user",
                Content = Question
            });

        var aiMessage =
            new ChatMessage
            {
                Role = "assistant",
                Content = ""
            };

        CurrentConversation.Messages
            .Add(aiMessage);

        var currentQuestion =
            Question;

        if (CurrentConversation != null && CurrentConversation.Messages.Count <= 2)
        {
            var aiTitle =
                await ApiService
                    .GenerateTitle(
                        currentQuestion);

            CurrentConversation.Title =
                aiTitle;

            await SaveConversations();
        }

        Question = "";

        await SaveConversations();

        StateHasChanged();

        await ApiService.StreamQuestion(
            currentQuestion,
            CurrentConversation.Messages,
            async chunk =>
            {
                aiMessage.Content += chunk;

                await SaveConversations();

                await InvokeAsync(
                    StateHasChanged);
            });

        IsLoading = false;
    }

}
